*{
    font-family: 'Inter Tight';
}
body{
    margin: 0;
}
/* centerContainer */
.centerContainer{
    margin: 0 auto;
    width: 1148px;
}
/* header */
header{
    padding-top: 100px;
    background-color: #11161E;
}
/* hrATX1 */
.hrATX1:hover{
    color: #5CA35B;
    transition: 0.2s;
}
/* navigation */
.navigation{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
/* listNav */
.listNav{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    box-sizing: border-box;
    width: 375px;
    margin: auto 0;
    padding: 0;
}
/* logotype */
.logotype{
    width: 34px;
    height: 53px;
}
/* sectHero */
.sectHero{
    background: #11161E;
    padding-top: 90px;
    padding-bottom: 124px;
}
/* telScreenTextHero */
.telScreenTextHero{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
/* butCreatePage */
.butCreatePage{
    width: 262px;
    height: 49px;
    background: #5CA35B;
    border: 0;
    border-radius: 10px;
    justify-content: center;
}
/* listCont */
.listCont {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    box-sizing: border-box;
    width: 390px;
    margin: 0;
    margin-top: 80px;
    padding: 0;
}
/* sectDL */
.sectDL{
    background-color: #181F29;
    padding-top: 90px;
    padding-bottom: 90px;
}
/* textDaruLink */
.textDaruLink{
    width: 753px;
}
/* listPrs */
.listPrs{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0;
    width: 1141px;
}
/* pr */
.pr{
    width: 243px;
    height: 269px;
    background: #273140;
    box-shadow: 0px 1px 26px rgba(24, 31, 41, 0.15);
    border-radius: 15px;
    padding: 37px 33px 37px 38px;
    text-align: center;
}
/* sectVm */
.sectVm {
    background-color: #11161E;
    padding-top: 70px;
    padding-bottom: 80px;
}
/* listVms */
.listVms{
    margin-top: 60px;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0;
    width: 600px;
}
/* sectUdo */
.sectUdo{
    background-color: #181F29;
    padding-top: 90px;
}
/* dzFC */
.dzFC{
    margin-top: 50px;
    width: 262px;
    height: 49px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 151.3%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #6A7C95;
    border: 0;
    background: #212A38;
    border-radius: 10px;
}
/* sectTar */
.sectTar{
    background-color: #11161E;
    padding-top: 90px;
    padding-bottom: 100px;
}
/* listTars */
.listTars{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0;
    width: 1163px;
}
/* liFTar */
.liFTar{
    width: 265px;
    height: 337px;
    padding: 53px 26px 47px 26px;
    background: #273140;
    box-shadow: 0px 1px 26px rgba(24, 31, 41, 0.15);
    border-radius: 15px;
}
/* liguB */
.liguB{
    opacity: 0.5;
}
/* butTar */
.butTar{
    margin-top: 35px;
    width: 248px;
    height: 38px;
    border: 0;
    border-radius: 5px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #FFFFFF;
}
.typeText1{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 151.3%;
    display: flex;
    align-items: center;
    color: rgba(118, 134, 159, 0.8);
    text-decoration: none;
    transition: 0.2s;
}
.typeText2{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 129.8%;
    display: flex;
    align-items: center;
    color: #6A7C95;
}
.typeText3{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 151.3%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.typeText4{
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 142.8%;
    color: #6A7C95;
}
.typeText5{
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160.3%;
    color: #717E92;
}
.hTypeText1{
    margin: 0;
    margin-top: 79px;
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 101.3%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.h2TypeText1{
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 50px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.h3TypeText1{
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}